jupyterlab==4.2.5
httpx<0.28.0

langchain==0.3.7
langchain-community==0.3.7
langchain-openai==0.2.8
langchain-ollama==0.2.0
langchain-chroma==0.1.4
langchain-text-splitters==0.3.2
langchain-huggingface
sentence-transformers

# Production & API
langserve==0.3.0
fastapi
uvicorn

python-dotenv==1.0.1

# Optional but commonly useful in notebooks
pydantic==2.9.2
rich==13.9.4
